In [1]:
import pandas as pd
import numpy as np

In [6]:
# Create 2 dataframe
df1 = pd.DataFrame({
    'key':['A','B','C','D','E','F','G'],
    'value1':[1,2,3,4,5,6,7]
})
df2 = pd.DataFrame({
    'key':['C','D','E','F','G','H'],
    'value2':[8,9,10,11,12,13]
})
df1,df2

(  key  value1
 0   A       1
 1   B       2
 2   C       3
 3   D       4
 4   E       5
 5   F       6
 6   G       7,
   key  value2
 0   C       8
 1   D       9
 2   E      10
 3   F      11
 4   G      12
 5   H      13)

### Inner join

In [7]:
merge_innerjoin = pd.merge(df1,df2,on='key',how='inner')
merge_innerjoin

  key  value1  value2
0   C       3       8
1   D       4       9
2   E       5      10
3   F       6      11
4   G       7      12

### Left join

In [8]:
merge_leftjoin = pd.merge(df1,df2,on='key',how='left')
merge_leftjoin

  key  value1  value2
0   A       1     NaN
1   B       2     NaN
2   C       3     8.0
3   D       4     9.0
4   E       5    10.0
5   F       6    11.0
6   G       7    12.0

### Right join

In [9]:
merge_rightjoin = pd.merge(df1,df2,on='key',how='right')
merge_rightjoin

  key  value1  value2
0   C     3.0       8
1   D     4.0       9
2   E     5.0      10
3   F     6.0      11
4   G     7.0      12
5   H     NaN      13

### Left (Right) Anti join

In [16]:
merge_left_anti_join = pd.merge(df1,df2,on='key',how='left',indicator=True)
merge_left_anti_join = merge_left_anti_join[merge_left_anti_join['_merge']=='left_only']
merge_left_anti_join.drop('_merge',axis=1)

  key  value1  value2
0   A       1     NaN
1   B       2     NaN